## Settings file was created by plugin tarkin.hideoutuirevamp v1.1.1
## Plugin GUID: com.tarkin.huir

[]

## Optional for ultrawide monitors
# Setting type: Boolean
# Default value: false
AnchorToEdge = false

