## Settings file was created by plugin HideSpecialIconGrids v1.1.0.1
## Plugin GUID: com.pandahhcorp.hidespecialicongrids

[General]

# Setting type: Boolean
# Default value: true
Enable = true

# Setting type: Int32
# Default value: 1
Frames To Wait = 2

