## Settings file was created by plugin KnifeSprint v1.0.1
## Plugin GUID: com.20fpsguy.knifesprint

[General]

## How much faster you sprint with a knife out.
# Setting type: Single
# Default value: 1.15
# Acceptable value range: From 1 to 2
Sprint Speed Multiplier = 2

