## Settings file was created by plugin SkillMultiplier v2.0.0
## Plugin GUID: dazzuh.skillmultiplier

[Debug]

## Enable or disable debug logging, may negatively impact performance, don't leave this enabled. Default is false (disabled).
# Setting type: Boolean
# Default value: false
Enabled = false

[General]

## Enable or disable the mod. Default is true (enabled).
# Setting type: Boolean
# Default value: true
Enabled = true

## If enabled, fatigue will be disabled for all skills. Default is true (fatigue disabled).
# Setting type: Boolean
# Default value: true
Disable Fatigue = true

## If enabled, raises the range of skill multipliers to -1000 to 1000. REQUIRES RESTART. Default is false (no change).
# Setting type: Boolean
# Default value: false
Increase Limits = false

## Global multiplier for all skills. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Global Multiplier = 1

[Multipliers]

## This entry will be replaced with skill multipliers once loaded.
# Setting type: String
# Default value: Please wait, loading skills...
Loading... = Please wait, loading skills...

