## Settings file was created by plugin SkillMultiplier v2.0.0
## Plugin GUID: dazzuh.skillmultiplier

[Debug]

## Enable or disable debug logging, may negatively impact performance, don't leave this enabled. Default is false (disabled).
# Setting type: Boolean
# Default value: false
Enabled = false

[General]

## Enable or disable the mod. Default is true (enabled).
# Setting type: Boolean
# Default value: true
Enabled = true

## If enabled, fatigue will be disabled for all skills. Default is true (fatigue disabled).
# Setting type: Boolean
# Default value: true
Disable Fatigue = false

## If enabled, raises the range of skill multipliers to -1000 to 1000. REQUIRES RESTART. Default is false (no change).
# Setting type: Boolean
# Default value: false
Increase Limits = false

## Global multiplier for all skills. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Global Multiplier = 10

[Multipliers]

## Multiplier for skill Endurance. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Endurance = 1

## Multiplier for skill Strength. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Strength = 1

## Multiplier for skill Vitality. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Vitality = 1

## Multiplier for skill Health. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Health = 1

## Multiplier for skill StressResistance. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
StressResistance = 1

## Multiplier for skill Metabolism. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Metabolism = 1

## Multiplier for skill Immunity. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Immunity = 1

## Multiplier for skill Perception. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Perception = 1

## Multiplier for skill Intellect. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Intellect = 1

## Multiplier for skill Attention. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Attention = 1

## Multiplier for skill Charisma. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Charisma = 1

## Multiplier for skill Pistol. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Pistol = 1

## Multiplier for skill Revolver. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Revolver = 1

## Multiplier for skill SMG. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
SMG = 1

## Multiplier for skill Assault. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Assault = 1

## Multiplier for skill Shotgun. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Shotgun = 1

## Multiplier for skill Sniper. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Sniper = 1

## Multiplier for skill LMG. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
LMG = 1

## Multiplier for skill HMG. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
HMG = 1

## Multiplier for skill Launcher. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Launcher = 1

## Multiplier for skill AttachedLauncher. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
AttachedLauncher = 1

## Multiplier for skill Throwing. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Throwing = 1

## Multiplier for skill Melee. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Melee = 1

## Multiplier for skill DMR. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
DMR = 1

## Multiplier for skill AimDrills. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
AimDrills = 1

## Multiplier for skill TroubleShooting. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
TroubleShooting = 1

## Multiplier for skill Surgery. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Surgery = 1

## Multiplier for skill CovertMovement. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
CovertMovement = 1

## Multiplier for skill Search. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Search = 1

## Multiplier for skill MagDrills. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
MagDrills = 1

## Multiplier for skill FieldMedicine. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
FieldMedicine = 1

## Multiplier for skill FirstAid. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
FirstAid = 1

## Multiplier for skill LightVests. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
LightVests = 1

## Multiplier for skill HeavyVests. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
HeavyVests = 1

## Multiplier for skill NightOps. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
NightOps = 1

## Multiplier for skill SilentOps. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
SilentOps = 1

## Multiplier for skill WeaponTreatment. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
WeaponTreatment = 1

## Multiplier for skill Auctions. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Auctions = 1

## Multiplier for skill Cleanoperations. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Cleanoperations = 1

## Multiplier for skill Shadowconnections. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Shadowconnections = 1

## Multiplier for skill Taskperformance. Range: -100 to 100. Default is 1 (no change).
# Setting type: Single
# Default value: 1
# Acceptable value range: From -100 to 100
Taskperformance = 1

