## Settings file was created by plugin Tyfon.AutoRun v6.0.0
## Plugin GUID: Tyfon.AutoRun

[1. General]

## Keybind to auto run
# Setting type: KeyboardShortcut
# Default value: W + LeftControl
Auto Run = W + LeftControl

